* {
    font-family: PT Serif;
}

header {
    text-align: center;
    border-bottom: 1px dashed black;
    background-color: #e6f5ff;
    /*height: 130px;*/
}

h1 {
    margin-top: 0px;
    padding-top: 8px;
}

body {
    margin: 0px;
    
}

main {
    width: 85%;
    margin: 0 auto;
}

.nav-bar li {
    display:inline-block;
    padding: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin-left: 5px;
    margin-right:5px;
    border: 2px solid black;
    border-radius: 10px;
    height: 30px;
    width: 110px;
    box-sizing: border-box;
}

.navigation a {
    text-decoration: none;
    padding: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 10px;
    color: black;
}

.navigation a:visited {
    color: black;
}

.navigation a:hover {
    font-weight: bold;
}

.contact li {
    margin: 0 15px;
}

.contact .phone {
    padding-right: 15px;
    border-right: 1px solid black;
}

.contact .email {
    padding-right: 15px;
    border-right: 1px solid black
}

.contact a {
    text-decoration: none;
    background-color: #e6f5ff;
    color: black;
}

.contact a:visited {
    color:black;
}

.contact a:hover {
    font-weight: bold;
}

h2 {
    background-color: #e6f5ff;
}

.contact li {
    display:inline-block;
}

.work h3,
.work h4,
.work p {
    padding-left: 20px;
}

.work ul {
    padding-left: 60px;
}

.edu-main {
    display: flex;
    justify-content: center;
}

.edu {
    width: 25%;
    height: 150px;
    text-align: center;
    border-right: 1px solid black;
}

#first {
    border-left: 1px solid black;
}

.quals .flex-box {
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 5px;
    column-gap: 5px;
}

.flex-box .qual {
    width: 48%;
    height: 50px;
    border: 1px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e6f5ff;
    text-align: center;
}

.qual a {
    text-decoration: none;
    background-color: #e6f5ff;
    color: black;
}

.qual a:hover {
    font-weight: bold;
}

.portfolio {
    padding-bottom: 40px;
}

.projects {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.project {
    padding-left: 10px;
    border: 3px solid #e6f5ff;
    box-shadow: 5px 5px  #e6f5ff;
}

.projects a {
    text-decoration: none;
    color: black;
    background-color: #e6f5ff;
}

.projects a:visited {
    color: black;
}

.projects a:hover {
    font-weight: bold;
}

footer {
    text-align: center;
    border-top: 1px dashed black;
    margin-top: 10px;
}

footer a {
    text-decoration: none;
    color: black;
    background-color: #e6f5ff;
}

footer a:visited {
    color: black;
}

footer a:hover {
    font-weight: bold;
}

@media only screen and (max-width:500px) {
    main {
        width: 95%;
    }
    .navigation {
        display: none;
    }
    .contact .phone,
    .contact .email {
        border: none;
    }
    .contact .email {
        margin: 2px 15px;
    }
    .edu-main {
        flex-wrap: wrap;
    }
    .edu {
        width: 95%;
        height: 120px;
        border-bottom: 1px solid black;
        border-left: none;
        border-right: none;
    }
    #first {
        border-left: none;
        border-top: 1px solid black;
    }
    .flex-box .qual {
        width: 70%;
    }
    .projects {
        grid-template-columns: 90%;
    }
    .project {
        overflow-y: scroll;
    }
}
    


